div {
   font-family: monospace;
}

.header {
   display: flex;
   justify-content: space-between;

   background-color: rgb(85, 172, 238);
   border-radius: 8px;
} .title {
   padding: 5px;
   padding-bottom: 1px;
   margin: 5px;
   width:fit-content;

   font-family:Arial, Helvetica, sans-serif;
   font-size: 32px;
   font-weight: 600;
   color: white;
   text-decoration:none;

   border-width: 0px;
   border-bottom: 5px;
   border-style: double;
} .prof {
   height:30px;
   width:30px;

   margin-top: 10px;
   margin-left: 10px;

   border-radius: 100%;
   padding: 2px;
   border-style: solid;
   border-color: white;
} .menu {
   height:30px;
   width:30px;

   margin-top: 10px;
   margin-right: 10px;
   
   padding: 2px;
}

.sub-title {
   display:flex;
   justify-content: center;

   padding:2px;
   margin: 5px;

   font-size:110%;
   font-weight: 1000;
   color: rgb(85, 172, 238);
}